<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>Backup List</title>    
    </head>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
        }

        table{
            width: 100%;
            border-collapse: collapse;
        }

        th, td{
            padding: 10px;
            border: 1px solid black;
        }

        th{
            background-color: #f4f4f4;
        }
        .download-link {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
    <body>
        <h1>Бекап бази даних</h1>
        <div>{{log backups}}</div>
        <table>
            <thead>
                <tr>
                    <th>Назва файла</th>
                    <th>Розмір (байт)</th>
                    <th>Остання модифікація</th>
                    <th>Дія</th>
                </tr>
            </thead>
            <tbody>
                {{#if backups.length}}
                    {{#each backups}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.size}}</td>
                            <td>{{this.date}}</td>
                            <td>
                                <a class="download-lin" href="/backups/download.{{this.filename}}">Скачати</a>
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="3">No backups found</td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </body>
</html>